body{
    background: #1B244A;
}

.players{
    color: #EEEEEE;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#home-score{
    border: 1px white;
    height: 120px;
    width: 155px;
    background: #080001;
    border-radius: 5px;
    color: #F94F6D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cursed Timer ULiL', sans-serif;                                     
    font-size: 100px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

#guest-score{
    border: 1px white;
    height: 120px;
    width: 155px;
    background: #080001;
    border-radius: 5px;
    color: #F94F6D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cursed Timer ULiL', sans-serif;                                     
    font-size: 100px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

button{
    margin-top: 30px;
    margin-bottom: 50px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: transparent;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL', sans-serif;
    padding: 8px 8px;
    
    
}